@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  /* colors */
  --accent: #959e67;
  --primary: #83907a;
  --secondary: #191c17;
  --background-c: #0a0b09;

  /* font styles */
  --F-color: #fdfdfc;
  --heading-Fsize: 2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: var(--F-color);
  overflow: hidden;
  transition: all 0.5s linear;
  background: var(--primary);
}
.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}
.logo {
  height: 80px;
  padding: 16px;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active {
  background: var(--accent);
}
.menu a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span {
  overflow: hidden;
}
.menu a i {
  font-size: 1.2rem;
}
.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* BODY SECTION */

.main--content {
  position: relative;
  background: var(--F-color);
  width: 100%;
  padding: 1rem;
}
.header--wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: var(--accent);
  border-radius: 12px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}
.header--title {
  color: var(--secondary);
}
.user--info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.search--box {
  background: var(--primary);
  border-radius: 15px;
  color: var(--secondary);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}
.search--box input {
  background: transparent;
  padding: 10px;
}
.search--box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.search--box i:hover {
  transform: scale(1.2);
}

/* card container */

/* Mood Selection Styles */
.mood-selection {
  margin-top: 20px;
  text-align: center;
}

#moodForm {
  display: inline-block;
  margin-right: 15px;
}

#moodDropdown {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  margin-right: 10px;
}

#moodForm button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}

#moodForm button:hover {
  background-color: var(--accent);
}

/* Playlist Container */
#playlistsContainer {
  /* Your styles for the container */
}

.playlist {
  /* Your styles for each playlist */
}

.playlist-name {
  font-weight: bold;
}

.playlist-total-tracks {
  font-size: 0.8rem;
  color: grey;
}
