@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  /* colors */
  --accent: #959e67;
  --primary: #83907a;
  --secondary: #191c17;
  --background-c: #0a0b09;

  /* font styles */
  --F-color: #fdfdfc;
  --heading-Fsize: 2em;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
